table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.titleStyle {
    background-color: #007BFF;
    color: white;
    text-align: center;
}

.tableColors {
    background-color: lightskyblue;
    font-size: 1.5em;
    color: darkblue;
    font-weight: bold;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}



td {
    border: 1px solid #ddd;
    padding: 8px;
}



iframe {
    width: 100%;
    max-width: 200px;
    /* control the size */
    height: 113px;
    border: none;
    border-radius: 6px;
}

img {
    width: 150px;
    /* adjust size */
    height: auto;
    /* keep proportions */
    border-radius: 6px;
    /* optional: rounded corners */
}

.link-press {
  color: blue;          /* normal color */
  text-decoration: none;
}

.link-press:visited {
  color: purple;        /* optional: color after being visited */
}

.link-press:hover {
  color: darkblue;      /* when hovering */
}

.link-press:active {
  color: red;           /* while being pressed */
}