.site-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px; /* space between links */
  justify-content: center; /* center the nav */
  margin-bottom: 20px;
}

.site-nav li {
  display: inline;
}

.site-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.site-nav a:hover {
  background-color: #333;
  color: #fff;
}
.site-nav a.current {
  background-color: #555;
  color: #fff;
}
